/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  button, summary {
      cursor: pointer;
  }
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-title:black;
      --color-text:#7A8B9A;
      --color-link:#0051FF;
      --color-background:#eee;
      --primary-color: #0051FF;
      --second-color:#B3CBFF;


  }
  
  
    
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  body {
    margin:0;
    color:var(--color-text);
    background-color:var(--color-background);

  }
  
  a{
    color:#0051FF;
  }

  header{
    height: 1em;
    width: 100%;

    min-height:4em;
  padding:0 1em;
  line-height:1;
  
  display:flex;
  justify-content:space-between;
  align-items:left; 
  }


header a{
    height: 1em;
    width: 10em;
    }




  nav{
    
  }
  
